@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Light'), local('Gilroy-Light'), url('../fonts/Gilroylight.woff2') format('woff2'), url('../fonts/Gilroylight.woff') format('woff'), url('../fonts/Gilroylight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'), url('../fonts/Gilroyextrabold.woff2') format('woff2'), url('../fonts/Gilroyextrabold.woff') format('woff'), url('../fonts/Gilroyextrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

body {
  font-family: 'Gilroy', sans-serif;
}

.header__wrapper {
  width: 1160px;
  margin: 40px auto;
  padding-top: 36px;
  padding-left: 59px;
  padding-right: 60px;
  padding-bottom: 165px;
  box-sizing: border-box;

  background-color: #f7e296;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.search {
  width: 355px;
  padding: 17px 5px 15px 40px;

  border: none;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;

  background-color: inherit;
}

.header-top__form-search::before {
  content: "";
  position: absolute;
  top: 19px;
  left: 4px;

  width: 16px;
  height: 16px;

  background-image: url("../img/search.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-top__search::placeholder {
  font-size: 15px;
  line-height: 36px;
}

.header-top__search:hover::placeholder,
.header-top__search:focus::placeholder{
  color: #000000;
}

.header-top__search:focus,
.header-top__search:active {
  border-bottom: 2px solid #000000;
  outline: none;
}

.header-top__form-search {
  position: relative;
  top: -4px;
}

.btn-search {
  display: none;
  width: 85px;
  margin-left: -5px;
  padding: 16px 18px;
  box-sizing: border-box;

  font-size: 15px;
  background-color: inherit;
  border: 2px solid #000000;
}

.header-top__search:focus ~ .btn-search:hover,
.header-top__search:active ~ .btn-search:focus {
  background-color: #000000;
  color: #ffffff;
  outline: none;
}

.header-top__search:focus ~ .btn-search:active,
.header-top__search:active ~ .btn-search:active,
.btn-search:active {
  display: inline-block;
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.header-top__search:focus ~ .btn-search,
.header-top__search:active ~ .btn-search{
  display: inline-block;
}

.user-block__list {
  display: flex;
  padding: 0;

  list-style: none;

  font-size: 15px;
}

.header__wrapper a {
  text-decoration: none;
  color: #000000;
}

.header__wrapper a:hover,
.header__wrapper a:focus {
  opacity: 0.6;
}

.header__wrapper a:active {
  opacity: 0.3;
}

.user-block__item a {
  display: flex;
}

.user-block__item:nth-of-type(1) img {
  margin-right: 14px;
  margin-top: 1px;
}

.user-block__item:nth-of-type(2) img {
  margin-right: 10px;
  margin-top: 3px;
}

.user-block__item:nth-of-type(3) img {
  margin-right: 10px;
  margin-top: 1px;
}

.header-top__user-block .user-block__item:first-of-type {
  margin-right: 218px;
}

.header-top__user-block .user-block__item:nth-of-type(2) {
  margin-right: 42px;
}

.header__logo {
  position: absolute;
  top: 12px;

  color: #000000;
}

.logo {
  font-size: 48px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
}

.header__nav {
  margin-top: 24px;
}

.nav-list {
  display: flex;
  padding: 0;
  margin: 0;

  list-style: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bolder;
  letter-spacing: 3.6px;
}

.nav .nav-list__item:first-of-type {
  margin-right: auto;
}

.nav .nav-list__item:last-of-type {
  margin-right: -4px;
}

.nav .nav-list__item:nth-of-type(2) {
  margin-right: 34px;
}

.nav .nav-list__item:nth-of-type(3) {
  margin-right: 109px;
}

.nav .nav-list__item:first-of-type > a {
  position: relative;
}

.nav .nav-list__item:first-of-type > a::after {
  content: "";
  position: absolute;
  top: 3px;
  right: -28px;

  width: 16px;
  height: 22px;

  background-image: url("../img/plus.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header__popup {
  position: absolute;

  display: none;
  padding: 0;
  padding-top: 20px;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 555px;

  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: normal;
  list-style: none;
}



.popup__item:nth-of-type(4) {
  width: 246px;
}

.popup__item:nth-of-type(5) {
  width: 305px;
}

.nav-list__item:first-of-type:hover > .header__popup {
  display: flex;
}

.main__wrapper {
  width: 1160px;
  margin: 0 auto;
}





.offers__list {
  display: flex;
  justify-content: space-between;
  padding: 0;

  font-size: 18px;
  font-weight: bolder;

  list-style: none;
}

.offers__list a {
  text-decoration: none;
  color: #000000;
}

.offers__item span {
  display: block;
  width: 160px;
}

.offers__picture-block {
  display: flex;
  width: 160px;
  height: 160px;
  margin-bottom: 40px;

  background-color: #f7e296;
}

.offers__picture-block img {
  margin: auto;
}

.offers__item:nth-of-type(2) img {
  margin-bottom: 2px;
}





.lower-block {
  display: flex;
  justify-content: space-between;
  padding-bottom: 93px;
}

.about-us,
.contacts {
  width: 560px;
}

.about-us__title,
.contacts__title {
  font-weight: bold;
  font-size: 47px;
}

.about-us__info,
.contacts__info {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;

  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.1px;
}

.about-us__info:nth-of-type(2) {
  letter-spacing: -0.1px;
}

.about-us__list {
  padding: 0;
  margin-top: 78px;
  margin-left: 35px;

  font-family: 'Gilroy', sans-serif;
  font-weight: bold;
  font-size: 16px;

  list-style: none;
}

.about-us__link,
.contacts__link {
  position: relative;

  display: block;
  width: 260px;
  margin-top: 75px;

  color: #000000;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3.7px;
  text-transform: uppercase;

  text-decoration: none;
}

.about-us__link {
  padding-left: 24px;
  padding-right: 22px;
}

.contacts__link {
  padding: 0 42px;
}

.about-us__link:before,
.contacts__link:before {
  content: '';
  position: absolute;
  top: 6px;
  left: 0;

  width: 260px;
  height: 8px;

  background-color: #f0c52e;
  z-index: -1;
}

.about-us__item {
  margin-bottom: 22px;
}

.contacts__map-link {
  display: block;
  margin-top: 40px;
}

.footer {
  background-color: #464646;
}

.footer a:hover,
.footer a:focus {
  opacity: 0.6;
}

.footer a:active {
  opacity: 0.3;
}

.footer__wrapper {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  padding-bottom: 65px;
}

.footer__left-block {
  margin-right: 163px;
  margin-top: 56px;
}

.footer__logo {
  color: #ffc600;
}

.footer__address {
  display: block;
  margin-top: 28px;

  color: #ffffff;
  font-size: 15px;
}

.footer__center-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 138px;
}

.footer__center-block ul {
  list-style: none;
  padding: 0;
}

.footer__center-block a,
.footer__right-block a {
  text-decoration: none;
  color: #ffffff;
}

.footer__nav-list {
  justify-content: space-between;
  width: 428px;
  margin: 0;
}

.social {
  display: flex;
  justify-content: space-between;
  width: 144px;
  margin: 0;
  margin-top: 67px;
}

.footer__right-block {
  margin-left: auto;
  margin-top: 71px;

  text-align: right;
}

.footer .user-block__list {
  margin: 0;
}

.footer .user-block__item {
  margin-left: 42px;
}

.footer__tel-number {
  display: block;
  margin-top: 48px;

  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  text-align: right;
  color: #ffffff;
}

.social__item a {
  font-size: 0;
}

.footer__dash {
  margin-top: 82px;

  background-color: #ffc600;
}

.dash {
  width: 80px;
  height: 7px;
}

.footer__academy-logo {
  margin-top: 69px;
}
